.aboutContainer{
    margin-left: 0px;
    margin-right: 0px;
}
#myProfileImage{
    border-radius: 20%;
    border: 1px solid black;
    width: 400px;
    height:500px;
}

hr {
    border-style: solid none;
    border-width: 1px 0;
}