.aboutContainer{
    margin-left: 50px;
    margin-right: 0px;
    /*margin-top: 263px;*/
}
#myProfileImage{
    /*border-radius: 20%;*/
    border: 1px solid black;
    width: 70%;
    height:70%;
    margin-top: 20px;
}

#profileImageWrapper{
    padding-right: 2px;
}

#aboutContentWrapper{
    padding-left: 2px;
}

hr {
    border-style: solid none;
    border-width: 1px 0;
}