@font-face {
    font-family: 'HelveticaNeueLTStdUltLtCn';
    src: url('../resources/fonts/helvetica/HelveticaNeueLTStdUltLtCn.otf')  format('opentype');
}
.form-group>label{
    font-family: HelveticaNeueLTStdUltLtCn;
}

#success_message {
    display: none;
}

.myForm {
    background-color: white;
}

#contactInfoContainer {
    margin-top: 270px;
}

hr {
    border-style: solid none;
    border-width: 1px 0;
}

textarea {
    resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}