@font-face {
    font-family: 'HelveticaLTStdComp';
    src: url('../resources/fonts/helvetica/HelveticaLTStdComp.otf')  format('opentype');
}
@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../resources/fonts/helvetica/HelveticaLTStdLight.otf')  format('opentype');
}
@font-face {
    font-family: 'HelveticaLTStdLightCond';
    src: url('../resources/fonts/helvetica/HelveticaLTStdLightCond.otf')  format('opentype');
}


.name-logo{
    font-family: HelveticaLTStdComp;
}

.pagetext{
    font-family: HelveticaLTStdLightCond;
}

.BTNWrapper{
    font-family: HelveticaLTStdLight;
}

.panelBTN{
    margin-top: 0px;
    padding-top: 0px;
}

.name-logo {
    font-size: 75px;
    line-height: 53.9px;
    /*font-weight: 100;*/
    color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.pagetext {
    padding-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
}

.BTNWrapper {
    width: 130px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.panelBTN:hover {
    text-decoration: none;
}

a:visited, a:hover, a:active, a:link {
    color: inherit;
    text-decoration: none;
}

.selectedBTN,
.selectedBTN,
.selectedBTN {
    background-color: black;
}

.selectedBTN {
    color: white;
}

.body-content {
    margin-top: 210px;

    margin-bottom: 20px;
}

.navigationContent {
    padding: 20px;
    background-color: white;
    margin-bottom: 0px;
    width: 100%;
}

.topContent {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid black;
}

.bottomBar,
.upperBar {
    background-color: black;
}


#endOfIndexContent{
    width: 100%;
    margin-bottom: 100px;
}

#endOfIndexContent>hr{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#endOfIndexContent>p{
    margin-top: 1px;
    padding-top: 1px;
    position: absolute; /*or fixed*/
    right: 15px;
}