.img {
    padding: 20px;
}

.thumb {
    margin-bottom: 30px;
}

hr {
    border-style: solid none;
    border-width: 1px 0;
}


.scroll-top {
    position: absolute;
    right: 0;
    bottom: 0;
}

.carousel {
    background: #2f4357;
    margin-top: 20px;

}

.galleryElement:nth-child(even){
    padding-left: 0px;
}

.galleryElement:nth-child(odd){
    padding-right: 0px;
}

.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
    height: 100%;
    width: 100%;
}


.projectsGallery{
    margin-top: 0px;
    padding-top: 0px;
}

.glyphicon {
    width:30%;
    position:absolute;
    top:45%;
    font-size: 30px;


}

.glyphicon-menu-left {
    opacity: 0;
    left:10%;
}

.carousel-control.left:hover  .glyphicon-menu-left,
.carousel-control.right:hover .glyphicon-menu-right
{
    opacity: 1;
}

.glyphicon-menu-right {
    opacity: 0;
    right:10%;
}